h1 {
    color: aquamarine;
}

th {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.cot1 {
    font-size: 18px;
    color: green;
    font-weight: 200;
    text-align: center;
}

.cot2 {
    color: brown;
    text-align: center;
}

.cot3 {
    color: yellow;
    font-style: italic;
    text-align: center;
}

.total {
    text-align: center;
    border: none;
    width: 100%;
}

body {
    background: url("https://wallpaperaccess.com/full/31190.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}